{# empty Twig template #}



<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phonenumber</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
        <th>Is firend</th>
    </tr>
    {% for contact in contacts %}      
        <tr>
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td>{{contact.phonenumber}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.address}}</td>
            <td>{{contact.city}}</td>
            <td>{{contact.zip}}</td>
            <td>{{contact.isfriends}}</td>
            <td><a href="update/{{contact.id}}">EDIT</a></td>
            <td><a href="delete/{{contact.id}}">DELETE</a></td>
        </tr>
    {% endfor%}
</table>
<hr />
<a href="app_dev.php/add">ADD CONTACT</a> | 
<a href="app_dev.php/clear">CLEAR DATABASE</a>

