/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-09-14, 14:05:22
    Author     : koperingnet
*/

#dropPlace {
    width: 50%; height: 500px; border:1px solid #ccc; float: left; text-align: center;
}

#dropPlace .dragPlace {
    width: 100%; height: 50px; background-color: #fff; text-align: center;
}

.dragPlace {
    width: 700px; height: 70px; background-color: #F1F1F1; float: right; text-align: center; padding-top: 10px; margin-top: 10px;
}

.dragTitle {
    width: 700px; height: 100px; background-color: #fff; float: right; text-align: center; padding-top: 10px; margin-top: 10px;
}