<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Drag'n'Drop Your Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <script src="js/mainAplication.js" type="text/javascript"></script>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <script src="js/toJSON.js" type="text/javascript"></script>
    </head>
    <body ng-app="dragDrop" ng-controller="DragDropCtrl">
        
        <div ng-controller="jsonController">
            <form>
                <div class="bin" id="dropPlace" align="center" droppable drop="handleDrop()"><h2>Bulid your form...</h2></div>
                <br /><button ng-click="save()">Save</button>
                <p>{{msg}}</p>
            </form>
        </div>
        <div class="dragTitle" style="border: 1px solid #ccc;">
            <h2>Elements of form...</h2>
            <p>Plese, Drag'n'Drop on the left side ;-)</p>
        </div>
            <div class="dragPlace" id="textField" draggable droppable><input type="text" value="Text field..." /></div>
            <div class="dragPlace" id="textArea" draggable droppable> <textarea rows="2" cols="50">Text area... </textarea> </div>
            <div class="dragPlace" id="button" draggable droppable><input type="button" value="Send"/></div>
    </body>
</html>
